
$primary1: #AEB9F2;
$primary2: #88AABF;
$primary3: #A7BDD9;
$primary4: #5b666c;
$neutral1: #F0F2F2;
$neutral2: #BDD9F2;

// contact me page
.contact-box {
    display: flex;
    align-items: center;
    flex-direction: column;
        h1 {
        text-align: center;
    }
        .contact-form {
            width: 30%;
            margin: 1rem 5rem 5rem 5rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            @media screen and (max-width: 600px) {
                width: 60%;
            }
        
            @media screen and (max-width: 800px) {
                width: 60%;
            }
            #input-message {
            height: 300px;
                    }
            }
            form {
                button {
                    
                    background-color: $primary1;
                    margin: 1em 0em;
                
                    @media screen and (max-width: 600px) {
                        height: 50px;
                    }
                
                    @media screen and (max-width: 800px) {
                        height: 50px;
                    }

                }
                button:hover {
                    color: #AEB9F2;
                }    
            }
}