@use '/src/App.mixins.scss';
$primary1: #AEB9F2;
$primary2: #88AABF;
$primary3: #A7BDD9;
$primary4: #5b666c;
$neutral1: #F0F2F2;
$neutral2: #BDD9F2;


.heading {
    display: flex;
    justify-content: center;
    margin: 1vw;
    color: $primary2;
    font-size: 3em;
    text-shadow: 0.5px 0.5px $primary4;
}

.nav-social {
    display: flex;
    margin: 1vw;

    img {
        width: 40px;
        margin: 10px;
        filter: opacity(20%);
    }

    img:hover {
        filter: opacity(100%);
    }

    a:hover {
        transition: 0.3s;
        transform: translateY(-3px);
        filter: drop-shadow(2px 2px grey);
    }
}