@import url("https://fonts.googleapis.com/css2?family=Smooch&family=Ubuntu:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* :root {
  --font-family: "Poppins", sans-serif;
  --dark-blue: #0a1930;
  --light-blue: #1f93ff;

  --color-white: #fff;
  --dark-text: #333;
  --form-button: #2da5ff;
  --color-grey: #eae6eb;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
} */

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* scroll-behavior: smooth; */
}

/* html {
  font-size: 10px;
} */

/* body {
  font-family: var(--font-family)
} */

/* section {
  width: 100%;
  padding: 8rem 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
} */

*****************
* {
    margin: 0px;
    padding: 0px;
  }
  
  .heading {
    display: flex;
    justify-content: center;
    margin: 1vw;
    color: #88AABF;
    font-size: 3em;
    text-shadow: 0.5px 0.5px #5b666c;
  }
  
  .nav-social {
    display: flex;
    margin: 1vw;
  }
  .nav-social img {
    width: 40px;
    margin: 10px;
    filter: opacity(20%);
  }
  .nav-social img:hover {
    filter: opacity(100%);
  }
  .nav-social a:hover {
    transition: 0.3s;
    transform: translateY(-3px);
    filter: drop-shadow(2px 2px grey);
  }
  
  label {
    color: #5b666c;
    width: 20px;
    float: right;
    margin: 0 2vw 0vw 0vw;
    font-size: 30px;
    line-height: 1.5rem;
    display: none;
  }
  @media only screen and (max-width: 720px) {
    label {
      display: block;
      position: relative;
      cursor: pointer;
    }
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  .menu ul li {
    border-radius: 20%;
    padding: 1.5vw;
    margin: 1vw;
    font-size: 1.5em;
    color: #35383a;
  }
  .menu ul li a {
    color: #5b666c;
    text-shadow: 0.5px 0.5px #BDD9F2;
    text-decoration: none;
  }
  .menu ul li:hover {
    background-color: #88AABF;
    transition: 0.3s;
  }
  .menu ul li.current-link {
    background-color: #88AABF;
  }
  @media only screen and (max-width: 720px) {
    .menu ul {
      position: relative;
      display: block;
      left: 0;
      top: 0;
      background-color: #AEB9F2;
      text-align: center;
      width: 100%;
      display: none;
    }
    .menu ul ul {
      padding: 1rem;
      margin-top: 1rem;
      color: #88AABF;
    }
  }
  .menu #checkbox-toggle {
    display: none;
  }
  .menu #checkbox-toggle:checked + .menu-items {
    display: block;
  }
  
  #checkbox-toggle + .menu-items {
    display: none;
  }
  
  body {
    font-family: "Ubuntu", sans-serif;
    margin: 2vw;
    min-height: calc(100vh - 4vw);
    background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0), #88AABF);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
  }
  
  .about-box {
    margin: 3vw 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (max-width: 600px) {
    .about-box {
      margin: 3vw 2vw;
    }
  }
  @media screen and (max-width: 800px) {
    .about-box {
      margin: 3vw 3vw;
    }
  }
  .about-box .head-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 1vw;
  }
  .about-box p {
    margin: 1em;
    text-align: center;
  }
  .about-box #link {
    color: #5b666c;
  }
  .about-box #link:hover {
    background-color: #88AABF;
  }
  
  div form {
    display: flex;
    justify-content: flex-end;
  }
  div form .button {
    background-color: #AEB9F2;
    padding: 0.5vw;
    border-radius: 20%;
    border: none;
    margin: 2vw;
    cursor: pointer;
  }
  div button:hover {
    background-color: #88AABF;
  }
  
  h2 {
    margin: 1vw;
    color: #88AABF;
    text-shadow: 1px 1px #5b666c;
  }
  
  section.cv {
    padding: 0.3vw;
    margin-bottom: 2vw;
  }
  section.cv h2 {
    margin-top: vw;
  }
  section.cv li {
    margin: 0 2vw;
  }
  section.cv p {
    margin: 0 1vw;
  }
  
  td {
    padding-left: 1vw;
  }
  
  .contact-box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .contact-box h1 {
    text-align: center;
  }
  .contact-box .contact-form {
    width: 30%;
    margin: 1rem 5rem 5rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  @media screen and (max-width: 600px) {
    .contact-box .contact-form {
      width: 60%;
    }
  }
  @media screen and (max-width: 800px) {
    .contact-box .contact-form {
      width: 60%;
    }
  }
  .contact-box .contact-form #input-message {
    height: 300px;
  }
  .contact-box form button {
    background-color: #AEB9F2;
    margin: 1em 0em;
  }
  @media screen and (max-width: 600px) {
    .contact-box form button {
      height: 50px;
    }
  }
  @media screen and (max-width: 800px) {
    .contact-box form button {
      height: 50px;
    }
  }
  .contact-box form button:hover {
    color: #AEB9F2;
  }
  
  div.blog-post {
    border: 2px dotted #AEB9F2;
    padding: 1vw;
    margin: 0.5vw;
  }
  div.blog-post a:link {
    text-decoration: none;
  }
  div.blog-post h2 {
    text-shadow: none;
    text-decoration: none;
  }
  div.blog-post h5 {
    font-size: 0.7em;
    color: #5b666c;
    margin: 1vw;
  }
  div.blog-post .picture-post {
    display: flex;
  }
  div.blog-post .picture-post img {
    width: 200px;
    border-radius: 25%;
  }
  div.blog-post .picture-post img p {
    padding: 0.5vw;
    color: black;
  }
  @media screen and (max-width: 600px) {
    div.blog-post .picture-post img {
      width: 40%;
      object-fit: contain;
    }
  }
  @media screen and (max-width: 800px) {
    div.blog-post .picture-post img {
      width: 30%;
      object-fit: contain;
    }
  }
  div.blog-post .picture-post p {
    padding: 0.5vw;
    color: black;
  }
  div.blog-post .picture-post img:hover {
    opacity: 40%;
    transition: 0.3s;
    transform: scale(1.1);
  }
  
  div.blog-post1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  div.blog-post1 h2 {
    font-size: 2em;
  }
  div.blog-post1 h5 {
    font-size: 0.7em;
    color: #5b666c;
    margin: 1vw;
  }
  div.blog-post1 img {
    margin: 0vw 20vw 5vw 20vw;
  }
  div.blog-post1 p {
    padding: 0.5vw;
    margin: 0vw 20vw 5vw 20vw;
  }
  
  .comment-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2vw;
  }
  .comment-box h1 {
    text-align: center;
  }
  .comment-box .contact-form {
    width: 30%;
    margin: 1rem 5rem 5rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  @media screen and (max-width: 600px) {
    .comment-box .contact-form {
      width: 60%;
    }
  }
  @media screen and (max-width: 800px) {
    .comment-box .contact-form {
      width: 60%;
    }
  }
  .comment-box .contact-form #input-message {
    height: 100px;
  }
  .comment-box form button {
    background-color: #AEB9F2;
    margin: 1em 0em;
  }
  @media screen and (max-width: 600px) {
    .comment-box form button {
      height: 50px;
    }
  }
  @media screen and (max-width: 800px) {
    .comment-box form button {
      height: 50px;
    }
  }
  .comment-box form button:hover {
    color: #AEB9F2;
  }
  
  footer {
    display: flex;
    justify-content: flex-end;
    font-size: 0.7em;
    letter-spacing: 0.05em;
    color: #35383a;
    margin-top: auto;
  }
  
  /*# sourceMappingURL=style.css.map */
  