// color pallete 

$primary1: #AEB9F2;
$primary2: #88AABF;
$primary3: #A7BDD9;
$primary4: #5b666c;
$neutral1: #F0F2F2;
$neutral2: #BDD9F2;

// hover image rules
@mixin hover_img {
    opacity: 40%;
    transition: 0.3s;
    transform: scale(1.1);
}

// used font
$body-font-family:'Ubuntu', sans-serif;
$body-font-family1:'Smooch', cursive;

* {
    margin: 0px;
    padding: 0px;
}

// Heading section, social links
.heading {
    display: flex;
    justify-content: center;
    margin: 1vw;
    color: $primary2;
    font-size: 3em;
    text-shadow: 0.5px 0.5px $primary4;
}

.nav-social {
    display: flex;
    margin: 1vw;
    img {
        width: 40px;
        margin: 10px;
        filter: opacity(20%);
    }
    img:hover {
        filter: opacity(100%);
    }
    a:hover {
        transition: 0.3s;
        transform: translateY(-3px);
        filter: drop-shadow(2px 2px grey);
    }
}

// Navigation menu

// Hamburger menu icon
    label {
        color: $primary4;
        width: 20px;
        float: right;
        margin: 0 2vw 0vw 0vw;
        font-size: 30px;
        line-height: 1.5rem;
        display: none;
        @media only screen and (max-width: 720px) {
        display: block;
        position: relative;
        cursor: pointer;
        }
    }  


.menu {
    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        li {
            border-radius: 20%;
            padding: 1.5vw;
            margin: 1vw;
            font-size: 1.5em;
            color: #35383a;
            

            a{
                color: $primary4;
                text-shadow: 0.5px 0.5px $neutral2;
                text-decoration: none;
            }
    }
    li:hover{
        background-color: $primary2;
        transition: 0.3s;
        }
    li.current-link{
        background-color: $primary2;
    }
    
    // HERE!!!!
  // Drop down menu on smaller screens
    @media only screen and (max-width: 720px) {
        position: relative;
        display: block;
        left: 0;
        top: 0;
        background-color: $primary1;
        text-align: center;
        width: 100%;
        display: none;
        ul {
            padding: 1rem;
            margin-top: 1rem;
            color: $primary2;
    }
}
}

#checkbox-toggle {
    display: none;
}

#checkbox-toggle:checked + .menu-items {
    display: block;
}
}
#checkbox-toggle + .menu-items {
    display:none}



// background color and size
body {
    font-family: $body-font-family;
    margin: 2vw;
    min-height: calc(100vh - 4vw);
    background-image: linear-gradient(to bottom right, rgba(255,0,0,0),$primary2);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
}

// Index page, about me
.about-box {
    margin: 3vw 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 600px) {
        margin: 3vw 2vw;
    }

    @media screen and (max-width: 800px) {
        margin: 3vw 3vw;
    }

    .head-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 1vw;
    }
    p {
        margin: 1em;
        text-align: center;    
    }
    #link {
        color: $primary4;
    }
    #link:hover {
        background-color: $primary2;
    
    }
}

// CV 
// download as pdf
div{
    form {
        display: flex;
        justify-content: flex-end;
.button {
    background-color: $primary1;
    padding: 0.5vw;
    border-radius: 20%;
    border: none;
    margin: 2vw;
    cursor: pointer;
}
} 
button:hover {
    background-color: $primary2;
}
}

h2{
    margin: 1vw;
    color: $primary2;
    text-shadow: 1px 1px $primary4;
}


// CV
section.cv {
    padding: 0.3vw;
    margin-bottom: 2vw;
    h2 {
        margin-top: vw;
    }
    li {
        margin: 0 2vw;
    }
    p {
        margin: 0 1vw;   
    }
}

// table rules
td {
    padding-left: 1vw;
}


// contact me page
.contact-box {
    display: flex;
    align-items: center;
    flex-direction: column;
        h1 {
        text-align: center;
    }
        .contact-form {
            width: 30%;
            margin: 1rem 5rem 5rem 5rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            @media screen and (max-width: 600px) {
                width: 60%;
            }
        
            @media screen and (max-width: 800px) {
                width: 60%;
            }
            #input-message {
            height: 300px;
                    }
            }
            form {
                button {
                    
                    background-color: $primary1;
                    margin: 1em 0em;
                
                    @media screen and (max-width: 600px) {
                        height: 50px;
                    }
                
                    @media screen and (max-width: 800px) {
                        height: 50px;
                    }

                }
                button:hover {
                    color: #AEB9F2;
                }    
            }
}

// Blog
div.blog-post {
    border: 2px dotted $primary1;
    padding: 1vw;
    margin: 0.5vw;
    a:link {
        text-decoration: none;
    }
    h2{
        text-shadow: none;
        text-decoration: none;
            }
            h5 {
                font-size: 0.7em;
                color: #5b666c;
                margin: 1vw;
            }
    .picture-post { 
    display: flex;
        img {
        width: 200px;
        border-radius: 25%;
        p {
            padding: 0.5vw;
            color: black;
        }

        @media screen and (max-width: 600px) {
            width: 40%;    
            object-fit: contain;
        }
    
        @media screen and (max-width: 800px) {
            width: 30%;    
            object-fit: contain;
        }
        }
        p {
            padding: 0.5vw;
            color: black;
        }
        img:hover {
        @include hover_img;
        }
    }
}

div.blog-post1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 2em;
    }
    h5 {
        font-size: 0.7em;
        color: #5b666c;
        margin: 1vw;
    }

.picture-post1 {

    }
    img {
 
        margin: 0vw 20vw 5vw 20vw;
    }
    p {
        padding: 0.5vw;
        margin: 0vw 20vw 5vw 20vw;

    }
}

.comment-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2vw;
        h1 {
        text-align: center;
    }
        .contact-form {
            width: 30%;
            margin: 1rem 5rem 5rem 5rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            @media screen and (max-width: 600px) {
                width: 60%;
            }
        
            @media screen and (max-width: 800px) {
                width: 60%;
            }
            #input-message {
            height: 100px;
                    }
            }
            form {
                button {
                    
                    background-color: $primary1;
                    margin: 1em 0em;
                
                    @media screen and (max-width: 600px) {
                        height: 50px;
                    }
                
                    @media screen and (max-width: 800px) {
                        height: 50px;
                    }

                }
                button:hover {
                    color: #AEB9F2;
                }    
            }
}

    // Footer, copyright sign
footer {
        display:flex;
        justify-content: flex-end;
        font-size: 0.7em;
        letter-spacing: 0.05em;
        color: #35383a;
        margin-top: auto;
}


// @media screen and (max-width: 1200px) 
// @media screen and (max-width: 800px) 
// @media screen and (max-width: 600px) 